# Rotator
PORT=8090
RACE=20
STAGGER=20
PROXY_USER=
PROXY_PASS=
WINNER_TTL=5
WINNER_COOLDOWN=20

# Scanner (index.ts)
TIMEOUT=6000
MAX_LATENCY=3000
TARGET=https://ifconfig.me/ip
OUTPUT=proxy.txt
CONCURRENCY=500
